.courses {
  &__item {
    background-color: $color-grey-light;
    @include breakpoints(phone-big) {
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 5rem;
    }
    &-top {
      padding-bottom: 3rem;
      border-bottom: 2px solid rgba($color-text, 0.3);
      &-img--design {
        @include course-images;
        background-image: url("../img/web-design.png");
      }

      &-img--photo {
        @include course-images;
        background-image: url("../img/photography.png");
      }

      &-img--marketing {
        @include course-images;
        background-image: url("../img/digital-marketing.png");
      }

      &-text {
        padding-left: 1.5rem;
        font-size: 1.5rem;
        color: $color-text;
      }
    }

    &-bottom {
      margin-top: 2rem;

      &-time,
      &-teacher {
        font-size: 2.4rem;
      }

      &-time {
        margin-bottom: 1rem;
        .courses-text {
          border-bottom: 2px solid rgba($color-text, 0.3);
        }
      }

      &-teacher {
        .courses-text {
          border-bottom: 2px solid rgba($color-text, 0.3);
        }
      }

      .button-container {
        padding: 2rem 1.5rem;
      }
    }
  }
}
