.container {
  @include breakpoints(tab-port) {
    margin: auto;
    max-width: 100%;
  }
}

.header-img {
  background-image: url("../img/main-image1.png");
  background-size: cover;
  width: 100%;
}

.header {
  height: 70rem;

  &__logo-box {
    top: 4.5rem;
  }

  &__logo-box {
    display: flex;
    align-items: center;

    .logo {
      font-size: 2.4rem;
      color: $color-white;
      margin-left: $margin-left;
    }
  }

  &__text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
    .heading-primary {
      font-size: 7.2rem;
      color: $color-white;
      font-weight: 700;

      @include breakpoints(phone) {
        line-height: 0.9;
        text-align: center;
        margin-bottom: 2.5rem;
      }
    }
    .heading-sub {
      font-size: 2.4rem;
      color: $color-white;
      font-weight: 700;

      @include breakpoints(phone) {
        text-align: center;
      }
    }
  }
}
