.teacher {
  &__item {
    display: flex;
    &-img {
      &--teacher-1 {
        background-image: url("../img/teacher-1.jpeg");
        @include teacher-images;
      }
    }
    &-text {
      margin-left: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &--name {
        font-size: 3rem;
        font-weight: 700;
      }

      &--profession {
        font-size: 2.4rem;
        font-weight: 700;
        color: $color-primary;
      }
    }
  }
}
