body {
  font-family: "Nunito Sans";
  font-weight: 400;
}

.heading-features {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.heading-secondary {
  font-size: 4.8rem;
  font-weight: 700;
}

.features__item {
  .features-text {
    color: $color-text;
    font-size: 1.8rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;

    @include breakpoints(phone-big) {
      width: 80%;
    }

    @include breakpoints(phone) {
      width: 100%;
    }
  }
}
